body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
}

.header {
    color: white;
    background-color: #343a40;
    border-bottom: 1px solid #343a40;
}

.search-container {
    width: 60%;
    margin: auto;
    padding: 20px 0;
}

.container {
    text-align: center;
}

.sameDayForecast {
    border: 1px solid #343a40;
    padding: 20px;
    margin: 20px auto;
    width: 60%;
    text-align: center;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#weatherContainer {
    padding: 20px;
    text-align: center;
}

.forecast-title {
    font-size: 24px;
    margin-bottom: 20px;
}

#iconsContainer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.icons {
    width: 18%;
    padding: 20px;
    border: 1px solid #343a40;
    margin-bottom: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.weather {
    margin-top: 10px;
    font-weight: bold;
    font-size: 16px;
}
